<div class="text-center mt-3 mb-3">
    <form>
        <input 
            class="rounded" 
            type="search" 
            placeholder="search..." 
            autofocus
            (keyup)="debounce.next"
            >
    </form>
</div>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</ap-load-button>



<!-- 
    () o evento é disparado e vai da view do template para o component
    [] puxa o dado da fonte de dados, component, para o template
 -->